body{
    font-family: Trebuchet MS;
    overflow: scroll;
}

main{
    margin-bottom: 5%;
}

h1 { color: rgb(52, 113, 182); 
    font-family: 'Roboto', sans-serif;
    font-size: 50px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}

th{
    text-align:center;
    font-size: x-large;
}

footer {
    margin-top: 20px;
    bottom: 0;
    background-color:#222326;
    color:white;
    left: 0;
    position: fixed;
    width:100%;
    font-size: 20px;
}